<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="conStringWeb" value="data source=VAIO;Initial Catalog=OnlineExam;Persist Security Info=True;User ID=sa;Password=sa;Pooling=false; packet size = 6000"/>
    <add key="Mailfrom" value="chaudhariyogesh21@gmail.com"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="UserName" value="chaudhariyogesh21@gmail.com"/>
    <add key="Password" value="aaaaaaa"/>
    <add key="Port" value="587"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>